# Python compiled cache files.
__pycache__/

# Python virtual environments.
env/
.env/
venv/
.venv/

# Generated data files.
data/
images/
results/
*.log/

# Compressed data files.
*.7z
*.tar.gz
*.zip

# MacOS folder attributes file.
.DS_Store
